<div id="task-box-{{ object.id }}" class="task col-xs-12">
    <div class="well">
        <button class="close btn btn-danger btn-xs pull-right">
            <i class="fa fa-close" aria-hidden="true"></i>
        </button>
        <button class="more btn btn-danger btn-xs pull-right">
            <i class="fa fa-arrow-down" aria-hidden="true"></i>
        </button>
        <b>#{{ object.id }} {{ object }}</b>
        {% if object.link %}
            <small><a href="{{ object.link }}" target="_blank">{{ object.link }}</a></small>
        {% endif %}
        <div class="more" style="display: none;">
            <pre>{{ object.description }}</pre>
            <p>Status: {{ object.get_status_display }}</p>
        </div>
    </div>
</div>