{% extends "gtd/base.html" %}

{% load crispy_forms_tags %}
{% load staticfiles %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/gtd/dashboard.css' %}" />
{% endblock %}

{% block content %}
<div id="dashboard">
    <div class="row">
    <div class="col-xs-3">
        <h3><a href="{% url 'admin:gtd_projectcategory_changelist' %}" target="_blank">Kategorie</a>
            <a href="{% url 'admin:gtd_projectcategory_add' %}" target="_blank" class="pull-right btn btn-default btn-xs">
                <span class="fa fa-plus"></span>
            </a>
        </h3>
        <ul>
        {% for category in categories %}
            <li>
                <a href="#" class="category" data-id="{{ category.id }}" id="category-{{ category.id }}">{{ category }}</a>
                <a href="{% url 'admin:gtd_projectcategory_change' category.id %}" target="_blank" class="">
                    <span class="fa fa-edit"></span>
                </a>
            </li>
        {% endfor %}
        </ul>
    </div>
    <div class="col-xs-3">
        <h3><a href="{% url 'admin:gtd_projectcategory_changelist' %}" target="_blank">Podkategorie</a></h3>
        {% for category in categories %}
            <div class="subcategories" id="subcategories-{{ category.id }}">
                <ul>
                {% for subcategory in category.subcategories %}
                    <li>
                        <a href="#" class="subcategory" data-id="{{ subcategory.id }}" id="category-{{ subcategory.id }}">{{ subcategory.name }}</a>
                        <a href="{% url 'admin:gtd_projectcategory_change' subcategory.id %}" target="_blank" class="">
                            <span class="fa fa-edit"></span>
                        </a>
                    </li>
                {% endfor %}
                </ul>
            </div>
        {% endfor %}
    </div>

    <div class="col-xs-3">
        <h3><a href="{% url 'admin:gtd_project_changelist' %}" target="_blank">Projekty</a>
            <a href="{% url 'admin:gtd_project_add' %}" target="_blank" class="pull-right btn btn-default btn-xs">
                <span class="fa fa-plus"></span>
            </a>
        </h3>

        {% for category in categories %}
            <div class="projects" id="projects-{{ category.id }}">
                <ul>
                {% for project in category.projects.all %}
                    <li>
                        <a href="{% url 'gtd:project-details' project.id %}" class="project" data-id="{{ project.id }}" id="project-{{ project.id }}">{{ project }}</a>
                        <a href="{% url 'admin:gtd_project_change' project.id %}" target="_blank" class="">
                            <span class="fa fa-edit"></span>
                        </a>
                    </li>
                {% endfor %}
                </ul>
            </div>
            {% for subcategory in category.subcategories %}
                <div class="projects" id="projects-{{ subcategory.id }}">
                    <ul>
                        {% for project in subcategory.projects.all %}
                            <li>
                                <a href="{% url 'gtd:project-details' project.id %}" class="project" data-id="{{ project.id }}" id="project-{{ project.id }}">{{ project }}</a>
                                <a href="{% url 'admin:gtd_project_change' project.id %}" target="_blank" class="">
                                    <span class="fa fa-edit"></span>
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            {% endfor %}
        {% endfor %}
    </div>

    <div class="col-xs-3">
        <h3><a href="{% url 'admin:gtd_task_changelist' %}" target="_blank">Zadania</a>
            <a href="{% url 'admin:gtd_task_add' %}" target="_blank" class="pull-right btn btn-default btn-xs">
                <span class="fa fa-plus"></span>
            </a>
        </h3>
        {% for category in categories %}
            {% for project in category.projects.all %}
                <div class="tasks" id="tasks-{{ project.id }}">
                    <ul>
                    {% for task in project.tasks.all %}
                        <li>
                            <a href="#" class="task-button" data-id="{{ task.id}}" id="task-button-{{ task.id }}"
                            data-url="{% url 'gtd:task-details' task.id %}">{{ task }}</a>
                            <a href="{% url 'admin:gtd_task_change' task.id %}" target="_blank" class="">
                                <span class="fa fa-edit"></span>
                            </a>
                        </li>
                    {% endfor %}
                    </ul>
                </div>
            {% endfor %}
            {% for subcategory in category.subcategories %}
                {% for project in subcategory.projects.all %}
                    <div class="tasks" id="tasks-{{ project.id }}">
                        <ul>
                        {% for task in project.tasks.all %}
                            <li>
                                <a href="#" class="task-button" data-id="{{ task.id}}" id="task-button-{{ task.id }}"
                                data-url="{% url 'gtd:task-details' task.id %}">{{ task }}</a>
                                <a href="{% url 'admin:gtd_task_change' task.id %}" target="_blank" class="">
                                    <span class="fa fa-edit"></span>
                                </a>
                            </li>
                        {% endfor %}
                        </ul>
                    </div>
                {% endfor %}
            {% endfor %}
        {% endfor %}
    </div>
        </div>

    <div class="row" id="project-details">

    </div>

    <div class="row" id="tasks">

    </div>


</div>
{% endblock %}

{% block extra_js %}
    {{ block.super }}
    <script type="text/javascript">

        function setup_task_box(id) {
            var $box = $("#task-box-" + id);
            $box.find('.close').bind('click', function(){
                $box.remove();
                $('#task-button-' + id).removeClass('active');
            });
            $box.find('button.more').bind('click', function(){
                $box.find('div.more').toggle();
            });
        }

        function load_project_details(url) {
            $.ajax({
                url: url,
                type: 'get',
                success: function (response) {
                    $("#project-details").html(response);
                }
            });
        }

        $(function(){
            $('a.category').bind('click', function (){
                var id = $(this).data('id');
                $('a.category').removeClass('active');
                $('a.subcategory').removeClass('active');
                $('a.project').removeClass('active');
                $('.projects').hide();
                $('.subcategories').hide();
                $('.tasks').hide();
                $('#subcategories-' + id).show();
                $('#projects-' + id).show();
                $(this).addClass('active');
            });
            $('a.subcategory').bind('click', function (){
                var id = $(this).data('id');
                $('a.subcategory').removeClass('active');
                $('a.project').removeClass('active');
                $('.projects').hide();
                $('#projects-' + id).show();
                $(this).addClass('active');
            });
            $('a.project').bind('click', function (){
                $('a.project').removeClass('active');
                //$('a.task-button').removeClass('active');
                var id = $(this).data('id');
                $('.tasks').hide();
                $('#tasks-' + id).show();
                $(this).addClass('active');
                $("#tasks").html('');
                load_project_details($(this).attr('href'));
                return false;
            });

            $('a.task-button').bind('click', function (){
                if (!$(this).hasClass('active')) {
                    $(this).addClass('active');
                    var id = $(this).data('id');
                    var url = $(this).data('url');
                    $.ajax({
                        url: url,
                        type: 'get',
                        success: function (response) {
                            $("#tasks").append(response);
                            setup_task_box(id);
                        }
                    });
                }
            });
        });
    </script>
{% endblock %}