{% extends "admin/base.html" %}

{% load common %}

{% block title %}{{ title }} | {{ site_title|default:_('Django site admin') }}{% endblock %}

{% block extrastyle %}
    <style type="text/css">
        {% if request.META.HTTP_HOST == 'localhost:8000' %}
            #header { background-color: darkgreen; }
        {% endif %}

        body div.help { font-size: 20px; background-color: lightcyan; border: 1px solid #000; color: #000;}
    </style>
{% endblock %}

{% block branding %}
<h1 id="site-name"><a href="{% url 'admin:index' %}">{{ site_header|default:_('Django administration') }}</a></h1>
    {% if request.user and request.user.is_authenticated %}
    <p><i>{% random_swansonism %}</i><br>Ron Swanson</p>
    {% endif %}
{% endblock %}

{% block nav-global %}{% endblock %}
